* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background: #1E1F25;
}

ul {
  display: flex;
  width: 100%;
  height: 100px;
  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
  text-align: center;
}

li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #969696;
  min-width: 80px;
  margin: auto;
}

li:hover {
  background-image: url('http://scottyzen.com/cp/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
}

.active {
  li {
    color: red;
  }
}

li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}
