<form [formGroup]="user" novalidate (ngSubmit)="submit()">
  <h1>REGISTRATION</h1>
  <div class="form-group">
    <label for="firstName">Name</label>
    <input id="firstName" class="form-control" name="name" formControlName="firstName"/>
    <div class="alert alert-danger"
         *ngIf="user.controls['firstName'].invalid && user.controls['firstName'].touched">
         Name not specified!
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last name</label>
    <input id="lastName" class="form-control" name="lastName" formControlName="lastName"/>
    <div class="alert alert-danger"
         *ngIf="user.controls['lastName'].invalid && user.controls['lastName'].touched">
      Last name not specified!
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" class="form-control" name="email" formControlName="email" />
    <div class="alert alert-danger"
         *ngIf="user.controls['email'].invalid && user.controls['email'].touched">
         Incorrect email !
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" name="phone" formControlName="password" />
    <div class="alert alert-danger"
         *ngIf="user.controls['password'].invalid && user.controls['password'].touched">
         Enter your password !
    </div>
  </div>
  <div class="form-group button">
    <button class="btn btn-default" [disabled]="user.invalid">
      Відправити
    </button>
  </div>
</form>
