.user-form {
  width: 100%;
  padding-top: 20px;

  &__title {
    border: 2px solid black;
    border-bottom: none;
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    text-transform: uppercase;
  }

  &__wrapper {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-family: Verdana, sans-serif;

    label {
      padding-bottom: 5px;
    }
  }

  &__input {
    padding: 5px;
    border: 2px solid black;
    outline: none;
    border-radius: 10px;

    &:focus {
      border-color: blue;
    }
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;

    button {
      cursor: pointer;
      outline: none;
      width: 100px;
      height: 40px;
      border: 2px solid black;
      border-radius: 20px;
      color: black;
      background-color: silver;
      font-size: 20px;

      &:hover {
        color: blue;
        border-color: blue;
      }
    }
  }

  &__subtitle {
    color: red;
  }
}
