<section class="user-form">
  <h1 class="user-form__title">Create new user:</h1>
  <div class="user-form__wrapper">
    <div class="user-form__item">
      <label for="first-name">First Name:</label>
      <input id="first-name" title="Please enter a first name" name="first-name" class="user-form__input" type="text"/>
      <span id="first-name-subtitle" class="user-form__subtitle"></span>
    </div>
    <div class="user-form__item">
      <label for="last-name">Last Name:</label>
      <input id="last-name" title="Please enter a last name" class="user-form__input" type="text"/>
      <span id="last-name-subtitle" class="user-form__subtitle"></span>
    </div>
    <div class="user-form__item">
      <label for="email">Email:</label>
      <input id="email" title="Please enter a email" class="user-form__input" type="text"/>
      <span id="email-subtitle" class="user-form__subtitle"></span>
    </div>
    <div class="user-form__item">
      <label for="password">Password:</label>
      <input id="password" title="Please enter a password" class="user-form__input" type="password"/>
      <span id="password-subtitle" class="user-form__subtitle"></span>
    </div>
    <div class="user-form__button">
      <button (click)="create()" title="Click to create new user">Create</button>
    </div>
  </div>
</section>
