<h1>To Do List</h1>
<form [formGroup]="form" (submit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>{{inputLabel}}</mat-label>
    <input matInput formControlName="inputField">
  </mat-form-field>
  <button id="addButton" mat-raised-button color="accent" [disabled]="!form.controls['inputField'].value">
    {{formButton}}
  </button>
</form>

<mat-selection-list id="todosList">
  <mat-list-option *ngFor="let todo of tasks; index as i" [selected]="todo.selected" (click)="selected(i)">
    <div id="mat-list-text">
      <mat-icon matListIcon>{{todo.listStatus}}</mat-icon>
      <span>{{todo.taskName}}</span>
      <span>{{todo.taskStatus}}</span>
      <button class="edit" mat-raised-button color="primary" (click)="changeTask(i, todo.taskName)">Edit</button>
      <button mat-raised-button color="warn" (click)="deleteRow(i)">Delete</button>
    </div>
  </mat-list-option>
</mat-selection-list>
